@using StudentGroup.Models

@model IEnumerable<StudentGroup.Models.Group>

@{
    ViewBag.Title = "Группы";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <h3>Группы курса № @Model.FirstOrDefault().Id</h3>
}<table>

    <tr>
        <td><p>ID группы</p></td>
        <td><p>Имя группы</p></td>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>

                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Выбрать", "StudentList", new { id = item.Id }) |
                @Html.ActionLink("Редактировать", "EditGroup", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "DeleteGroup", new { id = item.Id })
            </td>
        </tr>
    }
</table>